.pagewrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tab_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: #171717;
}

.content-container {
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 20px;
}

.btn {
  height: 4rem;
  flex: 1;
  padding: 10px 15px;
  background: transparent;
  border: none;
  color: #ecf0f1;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

/* .btn.active {
  background: #101110;
  width: 200px;
  height: 4rem;
} */

.btn.active{
    background-color: #101110;
    border-radius: 0.5rem;
    box-shadow:
      inset 1px 1px 7px rgba(255, 255, 255, 0.2), 
      inset -1px -1px 2px rgba(0, 0, 0, 0.4),      
      0 4px 10px rgba(0, 0, 0, 0.4), 
      0 0 8px rgba(255, 255, 255, 0);
      border-radius: 0.35rem;
}

.content {
  display: none;
}

.content.active {
  display: block;
}
