@import url('https://fonts.googleapis.com/css2?family=GaldeanoPirata+One&display=swap');

/* Nav roots */
:root{
    /* --bbackground: #444444; */
    --bbackground: #1A1A1A;
    --sec_background: #111112;
    --scrollbar-track_background: linear-gradient(45deg, #111111, #333333 ,#222222);
    --scrollbar-thumb_background: linear-gradient(45deg,#DCD6C1,#807A5C, #38362E);
    --border: 1px solid #666666;
    --text: white;
    /* --sec_text: #807A5C; */
    --sec_text: #1c3140;
    --tert_text: #666666;
    --box-shadow_:
      inset 1px 1px 2px rgba(255, 255, 255, 0.15),
      inset -1px -1px 2px rgba(0, 0, 0, 0.4),
      0 4px 10px rgba(0, 0, 0, 0.4),
      0 0 8px rgba(255, 255, 255, 0.2);
}

html{
    font-size: 90%;
}

/* login roots */
:root{
    /* set-1 */
    /* --card-background: rgba(34, 34, 34, 0.2);
    --body-background: linear-gradient(45deg, #333333,#111111,#111111, #111111, #333333);
    --input_background: rgba(255, 255, 255, 0.05); 
    --button_background: rgba(255, 255, 255, 1);
    --button_background_hover: rgba(94, 92, 92);
    --button_text: black; */


    /* set-2 */
    /* --card-background: rgba(34, 34, 34, 0.2);
    --body-background: linear-gradient(135deg, #928DAB, #7323C0);
    --input_background: rgba(26,26,26,0.3);
    --button_background: rgba(115, 35, 192, 0.6);
    --button_background_hover: rgba(146, 141, 171, 0.3);
    --button_text: white; */

    /* set-3 */
    --card-background: rgba(34, 34, 34, 0.2);
    --body-background: linear-gradient(45deg, #333333,#111111,#111111, #111111, #333333);
    --input_background: rgba(26,26,26,0.3);
    --button_background: rgba(255, 255, 255, 1);
    --button_background_hover: rgba(146, 141, 171, 0.3);
    --button_text: black;


}


body{
      /* font-family: "Merienda", sans-serif;
  font-weight: 400;
  font-style: normal;font-family: "Merienda", sans-serif;
  font-weight: 400;
  font-style: normal; */
    /* min-height: 100vh; */
    background: #101110;
    /* background: linear-gradient(45deg, #333333,#111111,#111111, #111111, #333333); */
    color: whitesmoke;
    margin: 0;
    padding: 0;
}