@import url('https://fonts.googleapis.com/css2?family=GaldeanoPirata+One&display=swap');



hr{
    width: 100%;
    border: 0;
    height: 1px;
    background-color: #444;
    /* background-color: white; */
}

/* a :hover{
  text-decoration: underline;
} */

time{
  font-size: smaller;
}

.date p{
  margin-bottom: 0;
  font-family: "Merienda", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.timeText p{
  margin: 0;
  padding: 0;
  font-family: "Merienda", sans-serif;
  /* font-size: 1.2rem; */
  font-style: normal;
  /* color: #807A5C; */
}

.display {
  scroll-margin-top: 15rem;
}

.page-wrap {
  padding-top: 6rem;
  padding-bottom: 15rem;
  justify-content: center;
  align-items: center;
    display: flex;
    flex-direction: row;
}
/* 
.nav-wrap.scrolled .section-1{
  margin: none;
} */


/* section-1 */
.section-1{
  margin: 0 12rem;
  display: flex;
  flex-direction: column;
}

.section-1-wrap{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 2rem;
  

}

/* hot-feed-space */
.hot-feed-content{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 1.25rem;
  padding: 0;
  margin: 0;

}

.hot-feed-content1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 1.25rem; */
  padding: 0;
  margin: 0;

}

.hot-feed-space{
  /* width: 38rem; */
  padding: 1rem;
  background-color: rgba(34, 34, 34, 0.35);
  box-shadow: 0 0 10px #111111;
  border-radius: 0.5rem;
    box-shadow:
    inset 1px 1px 2px rgba(255, 255, 255, 0.05), /* soft top-left highlight */
    inset -1px -1px 2px rgba(0, 0, 0, 0.5),     /* soft bottom-right shadow */
    0 4px 10px rgba(0, 0, 0, 0.6); 
}

.hot-feed-space h2{
  font-family: "Pirata One", system-ui;
  font-size: 2.2rem;
  font-style: normal;
  -webkit-text-stroke: 0.725px #807A5C;
  margin: 0;

}

.head-space{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.left-space{
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
}

.left-space h1{
  font-family: "Pirata One", system-ui;
  font-weight: 800;
  font-style: normal;
  margin: 0;
  color: #008080;
  -webkit-text-stroke: 0.35px rgba(0, 191, 255, 0.75 );
}

.day span{
  font-weight: 600;
  font-size: large;
  padding: 1.5rem 2rem;
  /* border: 2px solid white; */
  border-radius: 0.5rem;
      background: linear-gradient(45deg,#1a2f41,#008080, #00BFFF);
  transition: all 0.3s;
    box-shadow:
    inset 1px 1px 2px rgba(26, 47, 65, 15), /* soft top-left highlight */
    inset -1px -1px 2px rgba(0, 128, 128, 1),     /* soft bottom-right shadow */
    0 4px 10px rgba(0, 191, 255, 0.25); 
}
.day{
    font-family: "Merienda", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: all 0.3s;
}

.day :hover{
  transition: all 0.3s;
  background: linear-gradient(45deg, #00BFFF,#008080, #1a2f41);


}

/* hot-showcase */

  .hot-showcase article{
    display: grid;
    /* grid-template-columns: repeat(1,1fr); */
    grid-template-columns: repeat(auto-fit, 300px);
    padding: 1rem;

  }
  .artticle-image{
    height: 180px;
    width: 300px;
    border-radius: 1rem;
  }
  .artticle-image1{
    height: 280px;
    width: 500px;
    border-radius: 1rem;
  }
  .article-update-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 5px;
    padding-top: 0.5rem;
  }
    .article-update-details p{
      margin: 0;
    }
    .article-update-details hr{
      height: 4px;
      width: 4px ;
      border: 0;
      margin: 0;
      border-radius: 50%;
      background-color: white;
    }
  .news-head a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
  }

  .news-head1 a{
    color: #3686e1;

  }
  .news-head a:hover{
    text-decoration: underline;
  }
  .news-head{
  padding-top:0.5rem;
  }

  .domain{
    padding-top: 0.25rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }
  .domain img{
    align-items: center;
    height: 19px;
    width: 19px;
  }





/* hot-directs */
  .hot-directs{
    padding: 0.5rem 0.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  .direct-head a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
 }

  .direct-head a:hover{
    text-decoration: underline;
 }
  
  .direct-head{
  padding-top:0.5rem;
  }

  .direct-feed time{
    padding-top: 0.5rem;
  }











/* other-feed-space */

.other-section-wrap{
  padding: 1rem;
  margin: 0;
  background-color: rgba(34, 34, 34, 0.35);
  border-radius: 0.5rem;
    box-shadow:
    inset 1px 1px 2px rgba(255, 255, 255, 0.05), /* soft top-left highlight */
    inset -1px -1px 2px rgba(0, 0, 0, 0.5),     /* soft bottom-right shadow */
    0 4px 10px rgba(0, 0, 0, 0.6); 
}

.other-feed-space{
  margin: 0;
    /* padding: 0.5rem 0.5rem; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}



.other-feed-space h2{
  font-family: "Pirata One", system-ui;
  font-size: 2.2rem;
  font-style: normal;
  margin: 0;
  -webkit-text-stroke: 0.725px #807A5C;

}

.clubs-feed-space{
    padding: 0.5rem 0.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.75rem;
}



/* Creating Responsiveness */

