:root{


    /* set-3 */
    --card-background: rgba(34, 34, 34, 0);
    --body-background: linear-gradient(45deg, #333333,#111111,#111111, #111111, #333333);
    --input_background: rgba(26,26,26,0.3);
    --button_background: #1c3140;
    --button_background_hover: #f9f6f1;
    --button_text: white;


}


.page-wrap{
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-size: 1.2rem;
    background-color: #0e0e0d;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15rem;
    gap: 7rem;
    height: 100vh;
}

.left_wrap{
    padding: 0;
    margin: 0;
}
.left_wrap img{
  width: 500px; /* or use max-width: 100% for responsiveness */
  height: auto;
  display: block
}


.right_wrap{
    display: flex;
    flex-direction: column;
    gap: 1.35rem;
    /* margin: 5rem 10rem; */
    /* padding: 3rem 10rem; */
    justify-content: center;
    /* align-items: center; */
}

.signup-card{
    padding: 1rem 5rem;
    background-color: var(--card-background);    
    border-radius: 0.5rem;
    box-shadow:
    inset 1px 1px 2px rgba(255, 255, 255, 0.05),
    inset -1px -1px 2px rgba(0, 0, 0, 0.5),     
    0 4px 10px rgba(0, 0, 0, 0.6);
     /* box-shadow:
    inset 1px 1px 2px rgba(255, 255, 255, 0.15),
    inset -1px -1px 2px rgba(0, 0, 0, 0.4),
    0 4px 10px rgba(0, 0, 0, 0.4),              
    0 0 8px rgba(255, 255, 255, 0.2); */
                                box-shadow:
                            inset 1px 1px 7px rgba(255, 255, 255, 0.2), 
                            inset -1px -1px 2px rgba(0, 0, 0, 0.4),      
                            0 4px 10px rgba(0, 0, 0, 0.4), 
                            0 0 8px rgba(255, 255, 255, 0);
                            border-radius: 0.35rem;


    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

        .head{
            display: flex;
            flex-direction: column;
            padding: 0 1rem;
            text-align: center;
        }
            .head h2{
                font-size:xx-large;
                margin: 7px;
            }
            .head h2 span{
                color: #305f88fa;
            }
            .head p{
                margin: 0;
                padding: 0;
            }
            .head a{
                color: white;
            }

        .entry-fields{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 2rem;
            border: 1.5px solid white;
            box-shadow:
            inset 1px 1px 40px rgba(255, 255, 255, 0.05),
            inset -1px -1px 2px rgba(0, 0, 0, 0.5),     
            0 4px 10px rgba(0, 0, 0, 0.6);
            border-radius: 0.5rem;
            align-items: center;
        }
                .entry-field{
                    display: flex;
                    flex-direction: column;
                    gap: 0.45rem;
                }
                        .entry-field .input-field{
                            font-size: 1.2rem;
                            padding: 0.75rem;
                            /* background-color: rgba(255, 255, 255, 0.05); */
                            background-color: var(--input_background);
                            border: 1px solid white;
                            border-right: none;
                            border-left: none;
                            color: white;
                            box-shadow:
                            inset 1px 1px 2px rgba(255, 255, 255, 0.15), 
                            inset -1px -1px 2px rgba(0, 0, 0, 0.4),      
                            0 4px 10px rgba(0, 0, 0, 0.4), 
                            0 0 8px rgba(255, 255, 255, 0.2);
                            border-radius: 0.35rem;
                        }
                .submit-button .signup{
                    margin-top: 0.25rem;
                    padding: 0.75rem 4rem;
                    border: none;
                    border-radius: 0.5rem;
                    background-color: var(--button_background);
                    color: var(--button_text);

                    box-shadow:
                    inset 1px 1px 2px rgba(255, 255, 255, 0.15),
                    inset -1px -1px 2px rgba(0, 0, 0, 0.4),
                    0 4px 10px rgba(0, 0, 0, 0.4),
                    0 0 8px rgba(255, 255, 255, 0.2); 
                }
                .submit-button .signup:hover{
                    color: black;
                    background-color: var(--button_background_hover);
                }                
                .baaki-maal a{
                    text-decoration: none;
                    color: white;
                    
                }
                .baaki-maal a:hover{
                    text-decoration: underline;
                }
                



.card-shoe{
    padding: 1rem 2rem;
    background-color: var(--card-background);
    border-radius: 0.5rem;
                                    box-shadow:
                            inset 1px 1px 7px rgba(255, 255, 255, 0.2), 
                            inset -1px -1px 2px rgba(0, 0, 0, 0.4),      
                            0 4px 10px rgba(0, 0, 0, 0.4), 
                            0 0 8px rgba(255, 255, 255, 0);
                            border-radius: 0.35rem;

        
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
    .card-shoe a{
        text-decoration: none;
        color: white;
    }
    .card-shoe a:hover{
        text-decoration: underline;
    }
    

/* Adding responsiveness */
@media (max-width:991px){

    .page-wrap{
        margin: 0;
        padding: 3rem 1rem;
    }

    .login-card{
        padding: 1rem 2rem;
    }
            .head h2{
                margin-bottom: 0.45rem;
            }
            .head p{
                font-size: small;
            }

        .entry-fields{
            padding: 1rem 2rem;
        }
            .submit-button .login{
                margin: 0;
            }
            .baaki-maal a{
                font-size: small;
                text-decoration: underline;
            }
    
    .card-shoe{
         padding: 0.8rem 1.5rem;
         display: inline-block; 
    }
        .card-shoe p{
            font-size: small;
            white-space: nowrap; 
        }
        .card-shoe a{
            text-decoration: underline;
        }
}